/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Luckiest+Guy&family=Orbitron&display=swap');

/*CSS Section: General styling*/

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 2rem;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    color: #99FCFF;
    background-color: #33047F;
}

button {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    font-size: 0.7rem;
    background-color: #99FCFF;
    color: #33047F;
    border-radius: 1rem;
    padding: 0.2rem;
    /*Border color set to make it invisible. Stops a change in the game instructions button content box size and thus a shift in the  content below it,
     when a border is added as a result of an event listener.*/
    border: solid 0.1rem #33047F;
    margin-top: 0.2rem;
}

h1,
h2,
h3 {
    margin: 0.1rem auto;
    width: fit-content;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;

}

h2 {
    font-size: 0.8rem;
}

h3 {
    font-size: 0.7rem;
    padding-top: 0.1rem;
    margin-top: 0;
}

#game_settings h3,
#main_game_area h3 {
    line-height: 1;
}

/*CSS Section: game preamble section styling*/

#preamble {
    height: 50%;
}

/*Styles the game description paragraph*/
h1+p {
    font-size: 0.65rem;
    text-align: center;
    padding: 0 1rem;
}

/*Styles the game instructions button*/
#game_instructions {
    margin: 0 auto;
    width: fit-content;
    display: block;
}

#how_to_play {
    position: relative;
    margin-top: 0.2rem;
}

#how_to_play_window {
    text-align: center;
    border: solid 0.1rem #99FCFF;
    /*Z-index used to ensure window content displays in front, when the window is open. The window is open on loading, and is opened and closed using the
    close and game instructions buttons*/
    z-index: 1;
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: fit-content;
    min-height: 400%;
    background-color: #33047F;
    /*To be changed to display: none with JS when the close button is clicked*/
    display: block;
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
}

/*styles the how_to_play window close button*/
#how_to_play_window>button {
    position: relative;
    top: -1%;
    margin: 0 auto;
    width: fit-content;
}

/*Styles the instructions paragraph*/
#how_to_play_window>p {
    font-size: 0.65rem;
    margin-bottom: 0.3rem;
}

#how_to_play>h2 {
    margin-bottom: 0.1rem;
}

#game_settings {
    position: relative;
    text-align: center;
}

/*Styles the game settings window*/
#game_settings>div {
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 225%;
    background-color: #33047F;
    border: solid 0.1rem #99FCFF;
    /*Z-index used to ensure window content displays in front, when the window is open. The window is opened and closed using the
    close and game settings buttons*/
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    visibility: hidden;
    padding-top: 1rem;
}

/*Styles the game settings button*/
#settings_button {
    position: relative;
    bottom: 0.3rem;
}

#game_settings legend {
    width: 100%;
}

/*Styles the game settings close button*/
#game_settings>div>button {
    position: relative;
    top: 10%;
}

/*Styles the game_settings_windwow inputs container*/
#game_settings>div>div {
    display: flex;
    padding: 0 0.3rem;
}

#game_settings>div>div>div {
    flex: 1 auto;
}

#game_settings input {
    margin-right: 0.3rem;
    width: 0.8rem;
    height: 0.8rem;
}

#game_settings input,
#game_settings label {
    font-size: 0.5rem;
}

/*CSS Section: main game area styling*/

#main_game_area {
    height: 50%;
}

#main_game_area>div {
    display: flex;
}

.sidebar {
    flex: 1 3;
}

.sidebar>div {
    text-align: center;
    margin: 1rem auto;
}

.tile_holder {
    display: inline-block;
    border: 0.1rem solid #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: top;
}

.tile {
    display: inline-block;
    border: 0.1rem solid #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.1rem;
}

.tile>p,
.tile_holder>p {
    height: fit-content;
    padding-top: 15%;
}

#main_game_area h3 {
    margin: 0 auto;
}

/*Styles the tile and tile holder container*/
#gameplay_area {
    flex: 3 1;
    display: flex;
    flex-direction: column;
}

/*Styles the unplaced tiles container*/
#gameplay_area>div {
    flex: 1 auto;
    text-align: center;
    padding-top: 3%;
    box-sizing: border-box;
}

#tile_holder_container {
    position: relative;
    top: 28%;
    height: fit-content;
}

#reset_button_container {
    position: relative;
    top: 28%;
}

#eighth_tile_holder {
    display: none;
}

#main_game_area>h2 {
    line-height: 1;
    margin: 0.8rem auto 0.6rem;
}

/*Start button styling*/
#main_game_area>h2+button {
    width: fit-content;
    margin: 0 auto;
    display: block;
}


/* Sweetalert2 customClass styling*/

.swal-title {
    width: auto;
}

.swal-theme {
    border: 0.2rem solid #ffd700 !important;
}

/*Media queries for landscape orientation*/

@media screen and (orientation: landscape) and (min-height: 240px) and (min-width: 403px) {
    html {
        font-size: 0.6rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 324px) and (min-width: 440px) {
    html {
        font-size: 0.7rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 370px) and (min-width: 508px) {
    html {
        font-size: 0.8rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 415px) and (min-width: 567px) {
    html {
        font-size: 0.9rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 470px) and (min-width: 627px) {
    html {
        font-size: 1rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 555px) and (min-width: 753px) {
    html {
        font-size: 1.2rem;
    }
}


@media screen and (orientation: landscape) and (min-height: 650px) and (min-width: 889px) {
    html {
        font-size: 1.4rem;
    }
}


@media screen and (orientation: landscape) and (min-height: 744px) and (min-width: 1013px) {
    html {
        font-size: 1.6rem;
    }
}


@media screen and (orientation: landscape) and (min-height: 840px) and (min-width: 1129px) {
    html {
        font-size: 1.8rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 930px) and (min-width: 1267px) {
    html {
        font-size: 2rem;
    }
}

/*Media queries for portrait orientation*/

@media screen and (orientation: portrait) {

    button {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .swal-title {
        font-size: 1.3rem !important;
    }

    .swal-theme {
        font-size: 0.6rem !important;
    }

    .sidebar {
        display: flex;
    }

    .sidebar>div {
        flex: 1 1;
    }

    #main_game_area>div {
        flex-direction: column;
    }

    #main_game_area h3 {
        font-size: 0.85rem;
    }

}

@media screen and (orientation: portrait) and (min-height: 360px) and (min-width: 240px) {
    html {
        font-size: 0.63rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 450px) and (min-width: 280px) {
    html {
        font-size: 0.7rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 515px) and (min-width: 310px) {
    html {
        font-size: 0.8rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 575px) and (min-width: 350px) {
    html {
        font-size: 0.9rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 650px) and (min-width: 390px) {
    html {
        font-size: 1rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 775px) and (min-width: 475px) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 910px) and (min-width: 550px) {
    html {
        font-size: 1.4rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 1040px) and (min-width: 630px) {
    html {
        font-size: 1.6rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 1165px) and (min-width: 710px) {
    html {
        font-size: 1.8rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 1280px) and (min-width: 785px) {
    html {
        font-size: 2rem;
    }
}