@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Luckiest+Guy&family=Orbitron&display=swap');

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 2rem;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    color: #99FCFF;
    background-color: #33047F;
}

button {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    background-color: #99FCFF;
    color: #33047F;
    border-radius: 1rem;
    padding: 0.2rem;
    /*Border color set to make it invisible. Stops a change in the game instructions button content box size and thus a shift in the  content below it,
     when a border is added as a result of an event listener.*/
    border: solid 0.1rem #33047F;
}

h1,
h2,
h3 {
    margin: 0.5rem auto;
    width: fit-content;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;

}

h2 {
    font-size: 0.8rem;
}

h3 {
    font-size: 0.7rem;
    padding-top: 0.1rem;
    margin-top: 0;
}

h1+p {
    font-size: 0.5rem;
    text-align: center;
    padding: 0 1rem;
}

#game_instructions {
    margin: 0 auto;
    width: fit-content;
    display: block;
    font-size: 0.5rem;
}

#main_game_area {
    height: 50%;
}

#preamble {
    height: 50%;
}

#how_to_play {
    position: relative;
    margin-top: 0.2rem;
}


#how_to_play_window {
    text-align: center;
    border: solid 0.1rem #99FCFF;
    /*Z-index used to ensure window content displays in front, when the window is open. The window is open on loading, and is opened and closed using the
    close and game instructions buttons*/
    z-index: 1;
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 200%;
    background-color: #33047F;
    /*To be changed to display: none with JS when the close button is clicked*/
    display: block;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

/*close button*/
#how_to_play_window>button {
    position: relative;
    top: 10%;
    margin: 0 auto;
    width: fit-content;
}

#how_to_play>h2 {
    margin-bottom: 0.1rem;
}

#game_settings>div {
    display: flex;
    padding: 0 0.3rem;
}

#game_settings>div>div {
    flex: 1 auto;
}

#game_settings input {
    margin-right: 0.3rem;
    width: 0.8rem;
    height: 0.8rem;
}

#game_settings h3,
#main_game_area h3 {
    line-height: 1;
}

#game_settings input,
#game_settings label {
    font-size: 0.5rem;
}

#main_game_area>div {
    display: flex;
}

.sidebar {
    flex: 1 3;
}

.sidebar>div {
    text-align: center;
    margin: 1rem auto;
}

.tile_holder {
    display: inline-block;
    border: 0.1rem solid white;
    width: 2rem;
    height: 2rem;
}

.tile {
    display: inline-block;
    border: 0.1rem solid white;
    width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    vertical-align: middle;
}

.tile>p {
    height: fit-content;
    padding-top: 15%;
}



#main_game_area h3 {
    margin: 0 auto;
}

#gameplay_area {
    flex: 3 1;
    display: flex;
    flex-direction: column;
}

#gameplay_area>div {
    flex: 1 auto;
    text-align: center;
    padding-top: 3%;
    box-sizing: border-box;
}

#tile_holder_container {
    position: relative;
    top: 28%;
}

#reset_button_container {
    position: relative;
    top: 28%;
}

#eighth_tile_holder {
    display: none;
}

#main_game_area>h2 {
    line-height: 1;
    margin: 0.8rem auto 0.6rem;
}

#main_game_area>h2+button {
    width: fit-content;
    margin: 0 auto;
    display: block;
}